name: Push Check

on: [pull_request]

jobs:
  run-tests:
    strategy:
      matrix:
        go: [ "1.21", oldstable, stable ]
    runs-on: [ self-hosted, Linux, X64 ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
          cache: false
      - name: Run Tests
        run: ./run.sh

  compliant-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check License Header
        uses: apache/skywalking-eyes/header@v0.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check Spell
        uses: crate-ci/typos@v1.13.14
